name: CI Pipeline
on:
  push:
    branches:
      - "[0-9]+.[0-9]+.x"
  pull_request:

jobs:
  supported-versions-matrix:
    name: Supported Versions Matrix
    runs-on: blacksmith-4vcpu-ubuntu-2204
    outputs:
      version: ${{ steps.supported-versions-matrix.outputs.version }}
    steps:
      - uses: actions/checkout@v6
      - id: supported-versions-matrix
        uses: WyriHaximus/github-action-composer-php-versions-in-range@v1

  coding-standard:
    name: "Coding Standard"
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: true
      matrix:
        os: [ "blacksmith-4vcpu-ubuntu-2204" ]
        php: [ "8.1" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2, pecl
          extensions: ds

      - name: Install dependencies
        run: composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Check codestyle
        run: vendor/bin/phpcs -s

  static-analysis:
    name: "Static Analysis"
    runs-on: "${{ matrix.os }}"
    needs: supported-versions-matrix
    strategy:
      fail-fast: true
      matrix:
        php: ${{ fromJson(needs.supported-versions-matrix.outputs.version) }}
        os: [ "blacksmith-4vcpu-ubuntu-2204" ]
        exclude: [ { php: "7.4" } ]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2, pecl
          extensions: ds

      - name: Install dependencies
        run: composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Analyze code with static-analysis
        run: vendor/bin/phpstan analyse --no-progress

  unit-tests:
    name: "Unit Tests"
    runs-on: "${{ matrix.os }}"
    continue-on-error: "${{ matrix.experimental }}"
    needs: supported-versions-matrix
    strategy:
      fail-fast: false
      matrix:
        php: ${{ fromJson(needs.supported-versions-matrix.outputs.version) }}
        os: [ "blacksmith-4vcpu-ubuntu-2204" ]
        experimental: [ false ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2, pecl
          extensions: ds
          coverage: xdebug

      - name: Install dependencies
        run: composer install --no-progress --prefer-dist --optimize-autoloader ${{ matrix.composer-options }}

      - name: Execute tests
        run: composer test -- --do-not-cache-result

  # This is a "trick", a meta task that does not change, and we can use it in
  # the protected branch rules as opposed to the tests ones above which
  # may change regularly.
  validate-code:
    name: Code Requirement Check
    runs-on: blacksmith-4vcpu-ubuntu-2204
    needs:
      - coding-standard
      - static-analysis
      - unit-tests
    if: always()
    steps:
      - name: Successful run
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0

      - name: Failing run
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
